.navbar 
  &-container 
    display: grid
    grid-template-columns: 2fr 4fr
    align-items: center
    padding: 10px 10px
  

  &-left 
    grid-column: 1
    position: center
    h2
      padding-top: 40px
    ul
      a
        color: black
  

  &-right 
    grid-column: 2
    padding-left: 150px
    position: center
    h3
      padding-left: 170px
    h4
      padding-left: 170px
    one 
      padding-bottom: 20px
    two 
      padding-bottom: 20px




button
  padding-left: 100px
  padding-top: 10px

app-headerhome
  padding: 10px




          


